table{
    height: 50%;
    width: 100%;
    border-collapse: collapse;
    align-self: center;
    background-color: #6246b6;
    font-style: normal;
}

.container{
    text-align: center;
    height: 100%;
    width: 60%;
    background-color: #23a7b1;
    border-color: #042a2d;
    border-width: 8px;
    border-style: solid;
    margin: auto;
    margin-right: auto;
    margin-left: auto;
    align-self: center;
    border-radius: 40px;
}
    
td{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: Arial;
}

.button{
    background-color: azure;
    text-align: center;
    font-size: 200%;
    align-items: left ;
}
